<!-- Hello World! -->
 <!-- <br>
<form action="/bookmarks" method="get">
  <input type="submit" value="Show all Bookmarks">
</form> -->

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
